# Environment Variables
.env
.env.*
!.env.example

# Node
node_modules/
dist/
dist-ssr/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv2/
env/
.venv/

# IDE / OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?

# Project-specific logs
*.log
